.switchMenu {
    position: fixed;
    padding: 6px 12px;
    border-radius: 5px;
    bottom: 40px;
    right: 10px;
    z-index: 10;
    background: #fff;
    display: flex;
    
    .switchMenuItem {
        padding: 4px 10px;
        cursor: pointer;
        transition: 0.4s;
        color: #333;

        &:hover,
        &.active {
            background: rgba(146, 250, 215, 0.26);
        }
    }

}
