.canvasEditoAside {
  @apply w-[72px] bg-[#1e1f22] cursor-pointer relative z-50;

  .canvasEditoAsideItem {
    @apply h-[72px] w-[72px] flex flex-col items-center justify-center text-[#9da2ad];

    &:hover {
      color: #fff;
    }

    &.active {
      color: #fff;
    }
  }

  .canvasEditoAsideActionItem {
    position: absolute;
    z-index: 1;
    width: 72px;
    height: 72px;
    background: #2b2c2f;
    transform: translateY(0px);
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
}
