@font-face {
  font-family: "iconfont"; /* Project id 4176125 */
  src: url('iconfont.woff2?t=1692690632334') format('woff2'),
       url('iconfont.woff?t=1692690632334') format('woff'),
       url('iconfont.ttf?t=1692690632334') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grab:before {
  content: "\e607";
}

.icon-locationGroup:before {
  content: "\e66c";
}

.icon-route:before {
  content: "\e701";
}

.icon-batch-add:before {
  content: "\e738";
}

.icon-batch-del:before {
  content: "\e73a";
}

.icon-batch-update:before {
  content: "\e617";
}

.icon-delete:before {
  content: "\e67e";
}

.icon-point:before {
  content: "\e646";
}

.icon-rect:before {
  content: "\e667";
}

.icon-selection:before {
  content: "\ed4c";
}

.icon-area:before {
  content: "\e613";
}

.icon-shelf:before {
  content: "\e625";
}

.icon-road:before {
  content: "\e682";
}

.icon-storage:before {
  content: "\e833";
}

