.legend {
    @apply fixed flex items-center right-[10px] bottom-[10px];
    color: #000;
    
    .legendItem {
        color: #696969;
        font-size: 14px;

        .legendItemColor {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 6px;
            &.round {
                border-radius: 50%;
            }
        }
    }

    .legendItem + .legendItem {
        @apply ml-2;
    }
}